:root {
  --face-color: whitesmoke;
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 33.33vmin;
  --eye-color: black;
  --eyelid-color: whitesmoke;
  --iris-ratio: 0.3;
  --iris-color: white;
  --mouth-size: 20vw;
  --mouth-color: black;
}

body {
  background-color: white;
  margin: 0px;
}

.buttons {
  position: relative;
  z-index: 3;
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.mouth {
  background-color: var(--mouth-color);
  height: calc(var(--mouth-size)/3);
  width: var(--mouth-size);
  bottom: 0%;
  left: calc(50vw - var(--mouth-size) / 2)
}

.eye {
  background-color: var(--eye-color);
  border-radius: 100%;
  height: var(--eye-size);
  width: var(--eye-size);
  bottom: calc(var(--eye-size) / 3);
  z-index: 1;
  transform: rotateX(0);
}

.iris {
  background-color: var(--iris-color);
  border-radius: 100%;
  height: calc(var(--eye-size) * var(--iris-ratio));
  width: calc(var(--eye-size) * var(--iris-ratio));
  bottom: calc(50% - var(--eye-size) * var(--iris-ratio) / 2);
  left: calc(50% - var(--eye-size) * var(--iris-ratio) / 2);
}

.eye.left {
  left: calc(var(--eye-size) / 3);
}

.eye.right {
  right: calc(var(--eye-size) / 3);
}

.eyelid {
  background-color: var(--eyelid-color);
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  z-index: 2;
  transform: rotate(0deg);
}

.eyelid.upper {
  bottom: calc(var(--eye-size) * 1);
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  border-radius: 100%;
  bottom: calc(var(--eye-size) * -1);
  left: calc(var(--eye-size) * -0.375);
}
